@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/helvetica-255/Helvetica.ttf");
}

@font-face {
  font-family: "Motion";
  src: url("../assets/fonts/motion-control/MotionControl-Bold.otf");
}

@font-face {
  font-family: "Socmed";
  src: url("../assets/fonts/social_media_circled/Social\ Media\ Circled.ttf")
    format("truetype");
}
